.userPR {
    background-color: aliceblue;
    margin-top: 10%;
    padding: 15%;
    font-size: 250%;
}
.weightProgress {
    background-color: cornsilk;
    padding: 25%;
}
.title {
    padding-top: 5%;
}